:root {
  --cor-preta: #0c0c0c;
  --fonte: arial;
  --cor-escura: #3F3F3F;
  --azul-btn: #1C57E1;
  --fundo: #E4E4E4;
}

body, html {
  border: 0px;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--fundo);
}

header {
  background-color: #00ace2;
  height: 10%;
  color: #e8f5f6;
  text-align: center;
  font-family: arial;
  padding: 10px;
}

/*tabela de dados*/
table {
  font-family: var(--fonte);
  font-size: 12px;
  margin-top: 30px;
  padding: 15px;
  background-color: #e8f5f6;
  border-radius: 10px;
  height: 80%;
  background-color: #F0F0F0;
}

th,
td {
  padding: 35px;
}

td {
  border-bottom: 1px solid var(--cor-preta);
}

/*bloco com input*/
div.tabela {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.busca {
  background-color: #00ace2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  padding: 10px;
}

input {
  padding: 10px;
  border: none;
  width: 30%;
  margin-right: 5px;
  border-radius: 5px;

}

button {
  padding: 10px;
  color: var(--cor-escura);
  margin-right: 5px;
  border: 0;
  background-color: var(--fundo);
  font-size: 13px;
}

button:hover {
  opacity: 80%;
}

input[type="file"] {
  display: none;
}

label {
  padding: 10px;
  background-color: var(--fundo);
  color: var(--cor-escura);
  margin-right: 20px;
  text-align: center;
  display: block;
  font-size: 13px;
}